<header>
    <div class="nav">
        <a href="index.html" class="logo">Kelsey Corro</a>
        <a class="active" href="index">Home</a>
        <a href="form">Form</a>
        <a href="collection">Collection</a>
    </div> 
</header>