<html>
    <head>

    </head>
    <body>
        <h1>Test Form:</h1>
        <form method="post" action="/character">
            Character Name: <input type="text" name="character[name]"><br>
            Species: <input type="text" name="character[species]"><br>
            Creation Year: <input type="number" name="character[creation_year]"><br>
            Birthday: <input type="date" name="character[birthday]"><br>
            <input type="submit" value="Submit">
        </form>       
    </body>
</html>