<html>
    <head>
        <title>Sanrio Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Protest+Riot" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Grandstander" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    </head>

    <div class="nav">
        <a href="index.html" class="logo">Kelsey Corro</a>
        <a class="active" href="index">Home</a>
        <a href="form">Form</a>
        <a href="collection">Collection</a>
        <a href="query">Queries</a>

    </div> 

    <body>
        <!-- <%- include("../partials/header") %> -->
        <h1>Sanrio Characters Database</h1>
        <p>
            CS 532 - Modern Web Technologies<br>
            RESTful API and Database Application Assignment<br>
        </p>

        <h2>Instructions</h2>
        <p>
            Sanrio is the brand responsible for the creation of <br>
            popular characters such as Hello Kitty, Cinnamoroll, <br>
            Gudetama, Aggretsuko, and many more.<br><br>
            With this application, you can add characters, <br>
            their species, their creation date, and birthday <br>
            into the system and easily view the database.
        </p>
        <!-- <%- include("../partials/footer") %> -->
    </body>
</html>